@model LibraryMVC.Models.BookLoan

@{
    ViewData["Title"] = "Book Loan Details";
}

<h1>Book Loan Details</h1>

<div>
    <h4>Book Loan</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Book.Title)
        </dt>
        <dd class="col-sm-10">
            @Model.Book.Title
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Customer.Name)
        </dt>
        <dd class="col-sm-10">
            @Model.Customer.Name
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LoanDate)
        </dt>
        <dd class="col-sm-10">
            @Model.LoanDate
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ReturnDate)
        </dt>
        <dd class="col-sm-10">
            @Model.ReturnDate
        </dd>
    </dl>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning">Edit</a>
    <a asp-action="Index" class="btn btn-primary">Back to List</a>
</div>
